<!DOCTYPE html>
<html th:replace="~{userTemplates/userLayout :: layout01(~{::title}, ~{::section})}">
	<head>
		<meta charset="UTF-8">
		<title th:text="#{catalogueHome.title}">Insert title here</title>
	</head>
	<body>
			<!-- Page Content -->
		<section>
			<div class="container">
				<div class="row">
				
			        <div class="col-lg-4 mb-4" th:each="rep : ${representations}">
			        	<div class="card h-100">
			            	
			            	<div class="card-header">		
			            		<a th:href="@{getPhoto(idShow=${rep.show.id})}">
							    	<img class="rounded img-fluid" th:src="@{getPhoto(idShow=${rep.show.id})}" >
							    </a>	        
			            	</div>
			            	<div class="card-body">
				              	<p class="card-text">
<!-- 				              		th:text="${}" -->
					              	<h2 th:text="${rep.show.id}">Le Rois Lion</h2>
<!-- 					              	<h3 th:text="${rep.date}">Du 23/05/10/2018</h3> -->
					            
				              	</p>
			         		</div>
				            <div class="card-footer">
				              <a th:href="@{catalogueDetail(idRep=${rep.id})}" class="btn btn-info btn-block" 
				              								th:text="#{catalogueHome.detail}" >c</a>
				              <a th:href="@{catalogueReservation(idRep=${rep.id})}" 
				                 class="btn btn-danger btn-block"
				              	 th:classappend="${rep.show.price = 0} ? disabled : _"	
				              								th:text="#{catalogueHome.reservation}" ></a>
				            </div>
			          	</div>
			        </div>
			        
			        
			</div>
			<div class="panel-footer">
				<ul class = "pagination">
<!-- 				th:class nous permet d'avoir une condition pour l'attribut class -->
					<li th:class="${p == pageCourante}? active : _" th:each="p : ${numPage}" > 
						<a class="page-link" th:href="@{home(page = ${p})}" th:text="${p}"></a> 
					</li>
				</ul>
			</div>
		</section>
		<!-- #Page Content -->
	</body>
</html>