<!DOCTYPE html>
<html th:replace="~{userTemplates/userLayout :: layout01(~{::title}, ~{::section})}">
	<head>
		<meta charset="UTF-8">
		<title th:text="#{adminUser.title}">Insert title here</title>
	</head>
	<body>
			<!-- Page Content -->
		<section>
			<div class="container">
				<div class="row">
			        <div class="col-lg-4 mb-4">
			        	<div class="card h-100">
			            	
			            	<div class="card-header">
			            		<img src="../../static/images/im1.jpg" th:src="@{/images/im1.jpg}"
			            			class="rounded img-fluid" alt="Cinque Terre">			        
			            	</div>
			            	<div class="card-body">
				              	<p class="card-text">
					              	<h2>Le Rois Lion</h2>
					              	<h3>Du 23/05/10/2018</h3>
					              	D’après William Shakespeare / Aurore Fattier
					              	Aurore Fattier adapte Othello dans une esthétique 
					              	de roman noir, porté par du free jazz.
				              	</p>
			         		</div>
				            <div class="card-footer">
				              <a href="#" class="btn btn-info">Rserver</a>
				              <a href="#" class="btn btn-danger">Detail</a>
				            </div>
			          	</div>
			        </div>
			        
			        <div class="col-lg-4 mb-4">
			        	<div class="card h-100">
			            	
			            	<div class="card-header">
			            		<img src="../../static/images/im1.jpg" th:src="@{/images/im1.jpg}"
			            			class="rounded img-fluid" alt="Cinque Terre">			        
			            	</div>
			            	<div class="card-body">
				              	<p class="card-text">
					              	<h2>Le Rois Lion</h2>
					              	<h3>Du 23/05/10/2018</h3>
					              	D’après William Shakespeare / Aurore Fattier
					              	Aurore Fattier adapte Othello dans une esthétique 
					              	de roman noir, porté par du free jazz.
				              	</p>
			         		</div>
				            <div class="card-footer">
				              <a href="#" class="btn btn-info">Rserver</a>
				              <a href="#" class="btn btn-danger">Detail</a>
				            </div>
			          	</div>
			        </div>
			        
			        <div class="col-lg-4 mb-4">
			        	<div class="card h-100">
			            	
			            	<div class="card-header">
			            		<img src="../../static/images/im1.jpg" th:src="@{/images/im1.jpg}"
			            			class="rounded img-fluid" alt="Cinque Terre">			        
			            	</div>
			            	<div class="card-body">
				              	<p class="card-text">
					              	<h2>Le Rois Lion</h2>
					              	<h3>Du 23/05/10/2018</h3>
					              	D’après William Shakespeare / Aurore Fattier
					              	Aurore Fattier adapte Othello dans une esthétique 
					              	de roman noir, porté par du free jazz.
				              	</p>
			         		</div>
				            <div class="card-footer">
				              <a href="#" class="btn btn-info">Rserver</a>
				              <a href="#" class="btn btn-danger">Detail</a>
				            </div>
			          	</div>
			        </div>
			        
			        <div class="col-lg-4 mb-4">
			        	<div class="card h-100">
			            	
			            	<div class="card-header">
			            		<img src="../../static/images/im1.jpg" th:src="@{/images/im1.jpg}"
			            			class="rounded img-fluid" alt="Cinque Terre">			        
			            	</div>
			            	<div class="card-body">
				              	<p class="card-text">
					              	<h2>Le Rois Lion</h2>
					              	<h3>Du 23/05/10/2018</h3>
					              	D’après William Shakespeare / Aurore Fattier
					              	Aurore Fattier adapte Othello dans une esthétique 
					              	de roman noir, porté par du free jazz.
				              	</p>
			         		</div>
				            <div class="card-footer">
				              <a href="#" class="btn btn-info">Rserver</a>
				              <a href="#" class="btn btn-danger">Detail</a>
				            </div>
			          	</div>
			        </div>
			        
			        <div class="col-lg-4 mb-4">
			        	<div class="card h-100">
			            	
			            	<div class="card-header">
			            		<img src="../../static/images/im1.jpg" th:src="@{/images/im1.jpg}"
			            			class="rounded img-fluid" alt="Cinque Terre">			        
			            	</div>
			            	<div class="card-body">
				              	<p class="card-text">
					              	<h2>Le Rois Lion</h2>
					              	<h3>Du 23/05/10/2018</h3>
					              	D’après William Shakespeare / Aurore Fattier
					              	Aurore Fattier adapte Othello dans une esthétique 
					              	de roman noir, porté par du free jazz.
				              	</p>
			         		</div>
				            <div class="card-footer">
				              <a href="#" class="btn btn-info">Rserver</a>
				              <a href="#" class="btn btn-danger">Detail</a>
				            </div>
			          	</div>
			        </div>
			        
			        <div class="col-lg-4 mb-4">
			        	<div class="card h-100">
			            	
			            	<div class="card-header">
			            		<img src="../../static/images/im1.jpg" th:src="@{/images/im1.jpg}"
			            			class="rounded img-fluid" alt="Cinque Terre">			        
			            	</div>
			            	<div class="card-body">
				              	<p class="card-text">
					              	<h2>Le Rois Lion</h2>
					              	<h3>Du 23/05/10/2018</h3>
					              	D’après William Shakespeare / Aurore Fattier
					              	Aurore Fattier adapte Othello dans une esthétique 
					              	de roman noir, porté par du free jazz.
				              	</p>
			         		</div>
				            <div class="card-footer">
				              <a href="#" class="btn btn-info">Rserver</a>
				              <a href="#" class="btn btn-danger">Detail</a>
				            </div>
			          	</div>
			        </div>
				</div>		
			</div>
		</section>
		<!-- #Page Content -->
	</body>
</html>