<!DOCTYPE html>
<html th:replace="~{adminTemplates/adminLayout :: layout(~{::title}, ~{::section})}">
	<head>
		<meta charset="UTF-8">
		<title th:text="#{adminShow.title}">Insert title here</title>
	</head>
	<body>
		<section>
			<div class="container spacer">
			  	<div class="panel panel-default">
				    <div class="panel-heading" >
				    	
				    	<div class="row">
				    		 <div class="col-lg-4">
				    		 	<span th:utext="#{adminShow.panel.headingL}"></span>
				    		 </div>
				    		 <div class="col-lg-3 " >
				    		 	<form th:action="@{show}" method="get">
				    		 		<div class="input-group custom-search-form">
		                                <input type="text" class="form-control" name="motCle" th:value="${motCle}">
		                                <span class="input-group-btn">
			                                <button class="btn btn-default" type="submit">
			                                    <i class="fa fa-search"></i>
			                                </button>
		                            	</span>
	                            	</div>
				    		 	</form>
				    		 </div>
				    		 <div class="col-lg-1 col-lg-offset-4">
				    		 	<a th:href="@{editOrCreate}" th:title="#{adminShow.panel.headingR}">
				    		 		<span class="glyphicon glyphicon-plus-sign" style="font-size:1em;color:MediumSeaGreen;"></span>
				    		 	</a>
				    		 	
				    		 </div>
				    	</div>
				    </div>
				    
				    <div class="panel-body">
				    	<table class="table table-striped">
				    		<thead >
				    			<tr>
							      <th scope="col" th:text="#{adminShow.table.thead.id}">#</th>
							      <th scope="col" th:text="#{adminShow.table.thead.title}"></th>
							      <th scope="col" th:text="#{adminShow.table.thead.slug}"></th>
							      <th scope="col" th:text="#{adminShow.table.thead.location}"></th>
							      <th scope="col" th:text="#{adminShow.table.thead.artiste}"></th>
							      <th scope="col" th:text="#{adminShow.table.thead.price}"></th>
							      <th scope="col" th:text="#{adminShow.table.thead.place}"></th>
							      <th scope="col" th:text="#{adminShow.table.thead.image}"></th>
							      <th scope="col" th:text="#{adminShow.table.thead.supprimer}"></th>
							      <th scope="col" th:text="#{adminShow.table.thead.modifier}"></th>
							    </tr>
				    		</thead>
				    		<tbody>
				    			 <tr th:each=" show : ${shows}">
							     	<th scope="row" th:text="${show.id}">1</th>
							     	<td th:text="${show.title}"></td>
							     	<td th:text="${show.slug}"></td>
<!-- 							     	- ${show.location.locality.locality} -->
							     	<td th:text="|${show.location.address} - ${show.location.locality.postalCode}|"></td>
							     	<td>
										<ul th:each=" artShow : ${artisteShow}">
											<ol th:if="${show.id == artShow.show.id}">
												<div class="artColor" th:text="${artShow.artiste.firstName}"></div>
											</ol>
										</ul>
							     			
							     	</td>
							     	<td th:text="${show.price}"></td>
							     	<td th:text="${show.bookable}"></td>
							     	<td class="thumbnail">
							     		<a th:href="@{getPhoto(idShow=${show.id})}">
							     			<img class="img-thumbnail" th:src="@{getPhoto(idShow=${show.id})}" width="100" height="100">
							     		</a>
										
									</td>
							      	<td>
							      		<a th:href="@{delete(showId=${show.id})}" onclick='return confirm ("Ete vous sure ? ")'>
							      			<span class="glyphicon glyphicon-trash" style="font-size:1em;color:red;"></span>
							      		</a>
							      	</td>
							      	<td>
							      		<a th:href="@{editOrCreate(showId=${show.id})}">
							      			<span class="glyphicon glyphicon-edit" style="font-size:1em;color:blue;"></span>
							      		</a>
							      	</td>
							    </tr>
				    		</tbody>
				    	</table>
				    </div>
				    <div class="panel-footer">
				    	<ul class = "pagination">
<!-- 				th:class nous permet d'avoir une condition pour l'attribut class -->
							<li th:class="${p == pageCourante}? active : _" th:each="p : ${numPage}" > 
								<a th:href="@{show(page = ${p})}" th:text="${p}"></a> 
							</li>
						</ul>
				    </div>
				</div>
			</div>
		</section>
	</body>
</html>