<!DOCTYPE html>
<html th:fragment="layout (title, content)" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="description" content="">
	    <meta name="author" content="">
	    
	    <!-- Bootstrap Core CSS -->
	    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	
	    <!-- MetisMenu CSS -->
	    <link href="/webjars/metisMenu/metisMenu.min.css" rel="stylesheet">
	
	    <!-- Custom CSS -->
	    <link href="../static/css/sb-admin-2.min.css" th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
	
	    <!-- Morris Charts CSS -->
	    <link href="/webjars/morrisjs/morris.css" rel="stylesheet">
	
	    <!-- Custom Fonts -->
	    <link href="/webjars/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	    
	    <link rel="stylesheet" type="text/css" href="../../static/css/myStyle.css" 
			th:href="@{/css/myStyle.css}" />
		
		
<!-- 		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> -->
	    
		<title th:replace="${title}">Admin</title>
		
	</head>
	<body>
	
		<!-- wrapper -->
		<div id="wrapper">
		
			<!-- navigation-top-left -->
			<div th:replace="fragments/admin/fragment-navigation-header-sidebar :: navigation-header-sidebar"></div>
				
		    <!--/ navigation-top-left -->
	       	
			<!-- page-wrapper -->
	        <div id="page-wrapper">
	        
	       		 <!-- Content -->
	        	<div th:replace="${content}">
        
    			</div>
    			<!-- /#Content -->
	            
	            
	        </div>
	        <!-- /#page-wrapper -->
	        
	    </div>
	    <!-- /#wrapper -->
		
		<!--     jQuery -->
	    <script src="/webjars/jquery/jquery.min.js"></script>
	    <script src="../../static/js/postrequest.js" th:src="@{/js/postrequest.js}"></script>
	
		<!--     Bootstrap Core JavaScript -->
	    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	
		<!--     Metis Menu Plugin JavaScript -->
	    <script src="/webjars/metisMenu/metisMenu.min.js"></script>
	
		<!--     Morris Charts JavaScript -->
		<script src="/webjars/raphaeljs/raphael.min.js"></script>
	    <script src="/webjars/morrisjs/morris.min.js"></script>
	    <script src="../static/data/morris-data.js" th:src="@{/data/morris-data.js}"></script>
		<!--     Custom Theme JavaScript -->
	    <script src="../static/js/sb-admin-2.js" th:src="@{/js/sb-admin-2.js}"></script>
	</body>
</html>