<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		
		<div th:fragment="navigation-sidebar">
			<!-- /.navbar-top-links -->
	            <div class="navbar-default sidebar" role="navigation">
	                <div class="sidebar-nav navbar-collapse">
	                    <ul class="nav" id="side-menu">
	                        <li class="sidebar-search">
	                            <div class="input-group custom-search-form">
	                                <input type="text" class="form-control" placeholder="Search...">
	                                <span class="input-group-btn">
		                                <button class="btn btn-default" type="button">
		                                    <i class="fa fa-search"></i>
		                                </button>
	                            	</span>
	                            </div>
	                            <!-- /input-group -->
	                        </li>
	                        
	                        <!--  -->
	                        
	                        <li>
	                            <a th:href="@{/admin/}"><i class="fa fa-dashboard fa-fw"></i> <span th:text="#{admin.dasboard}"/></a>
	                        </li>
	                        <li>
	                            <a href="#">
	                            	<i class="fa fa-star-half-empty fa-fw"></i> 
	                            	<span th:text="#{admin.Artites}"/> <span class="fa arrow"></span>
	                           	</a>
	                            <ul class="nav nav-second-level">
	                                <li>
	                                    <a th:href="@{/admin/artiste/}" th:text="#{admin.Artites.Artite}">Flot Charts</a>
	                                </li>
	                                <li>
	                                    <a th:href="@{/admin/type/}" th:text="#{admin.Artites.Type}">Morris.js Charts</a>
	                                </li>
	                            </ul>
	                            <!-- /.nav-second-level -->
	                        </li>
	                        <li>
	                            <a href="#">
	                            	<i class="fa fa-stack-overflow fa-fw"></i> 
	                            	<span th:text="#{admin.Catalogues}"/> <span class="fa arrow"></span>
	                           	</a>
	                            <ul class="nav nav-second-level">
	                            	<li>
	                                    <a th:href="@{/admin/representation/}" th:text="#{admin.Catalogues.Representations}">Morris.js Charts</a>
	                                </li>
	                                <li>
	                                    <a th:href="@{/admin/show/}" th:text="#{admin.Catalogues.Shows}">Morris.js Charts</a>
	                                </li>
	                                <li>
	                                    <a th:href="@{/admin/location/}" th:text="#{admin.Catalogues.Locations}">Flot Charts</a>
	                                </li>
	                                <li>
	                                    <a th:href="@{/admin/localite/}" th:text="#{admin.Catalogues.Localites}">Morris.js Charts</a>
	                                </li>
	                            </ul>
	                            <!-- /.nav-second-level -->
	                        </li>
	                        <li>
	                            <a href="#">
	                            	<i class="fa fa-users fa-fw"></i> 
	                            	<span th:text="#{admin.Utilsateurs}"/> <span class="fa arrow"></span>
	                           	</a>
	                            <ul class="nav nav-second-level">
	                                <li>
	                                    <a th:href="@{/admin/user/}" th:text="#{admin.Utilsateurs.Users}">Flot Charts</a>
	                                </li>
	                                <li>
	                                    <a th:href="@{/admin/role/}" th:text="#{admin.Utilsateurs.Roles}">Morris.js Charts</a>
	                                </li>
	                            </ul>
	                            <!-- /.nav-second-level -->
	                        </li>
	                        
	                    </ul>
	                    
	                </div>
	                <!-- /.sidebar-collapse -->
	                
	            </div>
	            <!-- /.navbar-static-side -->
		</div>
		
	</body>
</html>